<section class="addresses">
  <address>
    <span class="text-uppercase">United States</span><br>
    34784 Bowie Common<br>
    Fremont, CA 94555<br>
    <abbr title="Phone">P:</abbr> +1 (415) 867-3211
  </address>
  <address>
    <span class="text-uppercase">Indonesia</span><br>
    Jalan Cigadung Selatan III kav. 72<br>
    Bandung, West Java 40191<br>
    <abbr title="Phone">P:</abbr> +62 (811) 210-0669
  </address>
</div>
