<section class="social-buttons">
  <span class="social-button"><a href="https://www.facebook.com/samudra.bekti"><i class="fa fa-facebook"></i></a></span>
  <span class="social-button"><a href="https://plus.google.com/+SamudraHarapanBekti"><i class="fa fa-google-plus"></i></a></span>
  <span class="social-button"><a href="https://twitter.com/shbekti"><i class="fa fa-twitter"></i></a></span>
  <span class="social-button"><a href="https://www.linkedin.com/in/sbekti"><i class="fa fa-linkedin"></i></a></span>
  <span class="social-button"><a href="https://github.com/sbekti"><i class="fa fa-github"></i></a></span>
  <span class="social-button"><a href="/rss/"><i class="fa fa-rss"></i></a></span>
</section>
