.main-header .inner {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.io-social {
    -webkit-animation: fade-in-up 0.6s;
    animation: fade-in-up 0.6s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    margin-top: 30px;
}

.io-social a {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
    transition: background 0.5s ease;
}

.io-social a:hover {
    background: #fff;
    text-shadow: none;
}

.io-social .fa {
    transition: all 0.5s ease;
}

.io-social .fa:hover {
    color: #4A4A4A;
}

@-webkit-keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
