{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<div class="container" role="document">
  <div class="jumbotron">
    <h1>Aw, snap!</h1>
    <p>Sorry, the page you were looking for could not be found.</p>
  </div>
</div>
